<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613554057907-k1s4sd34682883fclmum07gfdq9ao4qh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613554057907-k1s4sd34682883fclmum07gfdq9ao4qh</string>
	<key>API_KEY</key>
	<string>AIzaSyDHEYZeVbWMQnmgVbBeywwevZgPeDzVFU8</string>
	<key>GCM_SENDER_ID</key>
	<string>613554057907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.kboy.todoApp</string>
	<key>PROJECT_ID</key>
	<string>todo-app-763f8</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-763f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613554057907:ios:87feeaf9770f9c13ecb6c6</string>
	<key>DATABASE_URL</key>
	<string>https://todo-app-763f8.firebaseio.com</string>
</dict>
</plist>